# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Django
db.sqlite3
*.log
staticfiles/

# Environment variables
.env

# Node modules (if any)
node_modules
dist

# IDE
.vscode/
.idea/
*.swp
*.swo

# Old backup files
*_old.py
